RewriteEngine On

# r edirect
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

# rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
