/* Solaris orange brand overrides */
:root{
  --theme-brand_primary: 255, 166, 13;
  --theme-brand_secondary: 255, 166, 13;
  --theme-brand_gradient: linear-gradient(60deg, rgb(255, 166, 13), rgba(255, 166, 13, 0.9));
  --theme-brand_gradient_webkit: linear-gradient(60deg, rgb(255, 166, 13), rgba(255, 166, 13, 0.9));
}
::-webkit-scrollbar-thumb{background:var(--theme-brand_gradient) !important}

/* Footer links hover effect */
#elFooterLinks li a:hover {
  color: #ffa60d !important;
}

.copyright:hover {
  color: #ffa60d !important;
}

/* Hero banner background */
.theme-header__hero{
  background-image:url('../images.guides/84c1e40ea0e759e3f1505eb1788ddf3c_hero.webp');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.onlineIcon {
	background-image: linear-gradient(to right, #9dff88, #9dff88, #9dff88) !important;
	color: #9dff88 !important;
}

.cOnlineUsers_co > span:first-child {
  color: #9dff88 !important;
}

