
:root {
  --theme-brand_primary: 255, 166, 13;
  --theme-brand_secondary: 255, 166, 13;
  --theme-brand_gradient: linear-gradient(60deg, rgb(255, 166, 13), rgba(255, 166, 13, 0.9));
  --theme-brand_gradient_webkit: linear-gradient(60deg, rgb(255, 166, 13), rgba(255, 166, 13, 0.9));
}

 

.cNexusProduct__prices .cNexusPrice {
  background: rgba(255, 166, 13, 0.2) !important;
  color: #ffa60d !important;
}

.image-title { border-bottom-color: #ffa60d !important; }

.box ul li i,
.requirements_section ul li i,
.corefeatures_section ul li i {
  color: #ffa60d !important;
}

.backlink_pages_whychooseus,
.astrion_backlink_ntc_section {
  border-left-color: #ffa60d !important;
  border-right-color: #ffa60d !important;
}

.cNexusProduct:hover {
  border-color: rgba(255, 166, 13, 0.7) !important;
  box-shadow: 0 0 0 4px rgba(255, 166, 13, 0.10) !important;
}

.cStorePackage_button:hover,
.elCluster_button.active,
.cStorePackage_button,
.status-tabButton.is-active,
.status-tabButton:hover:not(.is-active),
.groups-tabButton.is-active,
.groups-tabButton:hover:not(.is-active) {
  background-image: var(--theme-brand_gradient) !important;
}


#elFooterLinks li a:hover {
  color: #ffa60d !important;
}

.copyright:hover {
  color: #ffa60d !important;
}


.theme-header__hero{
  background-image:url('../images.reviews/84c1e40ea0e759e3f1505eb1788ddf3c_hero.webp');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

::-webkit-scrollbar-thumb { background: var(--theme-brand_gradient) !important; }


.cStoreGame > button.purchase-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  transition: all 0.90s ease;
  position: relative;
  z-index: 1;
  padding: 2px;
  background: transparent;
  border: 0;
  width: 100%;
  text-align: inherit;
  cursor: pointer;
}


.cStoreGame > button.purchase-btn::after {
  content: "";
  position: absolute;
  background-color: rgb(var(--theme-area_background_light));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  z-index: -1;
  transition: all 0.30s ease;
}


.cStoreGame > button.purchase-btn:hover::after {
  --p_opacity: 1;
  background-color: rgb(var(--theme-brand_secondary), var(--p_opacity));
  box-shadow: -3px 0 12px rgb(var(--theme-brand_secondary), .2), 3px 0 12px rgb(var(--theme-brand_primary), .3);
}

.cStoreGame > button.purchase-btn:hover > .cStoreGame_image > img {
  transform: scale(1.02);
}

.cStoreGame > button.purchase-btn:hover > .cStoreGame_name {
  --p_opacity: 1;
  color: #fff;
  background: linear-gradient(60deg, rgb(var(--theme-brand_secondary), var(--p_opacity)), rgb(var(--theme-brand_primary), var(--p_opacity)));
}

.onlineIcon {
	background-image: linear-gradient(to right, #9dff88, #9dff88, #9dff88) !important;
	color: #9dff88 !important;
}

.cOnlineUsers_co > span:first-child {
  color: #9dff88 !important;
}

